# ==========================================
# 🧾 SISTEMA / OS
# ==========================================

.DS_Store
Thumbs.db


# ==========================================
# 🧰 IDEs (Visual Studio / VS Code)
# ==========================================

.vscode/
.vs/

*.user
*.suo
*.userosscache
*.sln.docstates


# ==========================================
# 🧪 ARCHIVOS DE PROYECTO
# ==========================================

*.sln
*.csproj


# ==========================================
# 🗂️ UNITY 
# ==========================================

Library/
Temp/
Obj/
Build/
Builds/


# ==========================================
# 🧠 UNITY META 
# ==========================================

*.meta


# ==========================================
# 🗂️ LOGS
# ==========================================

*.log